---
name: CI

"on":
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  tests:
    name: Run PHP unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install dependencies
        run: |
          composer install --no-progress --no-suggest \
            --prefer-dist --no-interaction

      - name: Run PHPStan
        run: |
          vendor/bin/phpstan analyse \
            --configuration=phpstan.neon

      - name: Run PHPUnit
        run: |
          vendor/bin/phpunit \
            --configuration phpunit.xml \
            --colors=always
